body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255); /* feio e berrante */
  color: rgb(0, 0, 0);
  text-align: center;
}

h1 {
  color: rgb(255, 0, 0);
  font-size: 40px;
}

div, select, button {
  margin: 5px;
}

button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 3px solid rgb(217, 255, 0);
  cursor: pointer;
}

#game-board {
  display: grid;
  gap: 5px;
  margin: 10px auto;
  max-width: 500px;
}

.card {
  width: 80px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 5px solid rgb(242, 255, 0);
}

.card.flipped {
  background-color: rgb(238, 230, 216);
}

body.high-contrast {
  background-color: black;
  color: white;
}

body.high-contrast .card {
  background-color: white;
  color: black;
}
